
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet
golf\.dat

helper-code\.java

hepatitis-test-run01\.dat

hepatitis-test-run02\.dat

hepatitis-test-run03\.dat

hepatitis-test-run04\.dat

hepatitis-test-run05\.dat

hepatitis-test-run06\.dat

hepatitis-test-run07\.dat

hepatitis-test-run08\.dat

hepatitis-test-run09\.dat

hepatitis-test-run10\.dat

hepatitis-training-run01\.dat

hepatitis-training-run02\.dat

hepatitis-training-run03\.dat

hepatitis-training-run04\.dat

hepatitis-training-run05\.dat

hepatitis-training-run06\.dat

hepatitis-training-run07\.dat

hepatitis-training-run08\.dat

hepatitis-training-run09\.dat

hepatitis-training-run10\.dat

hepatitis\.dat

sample-output-DT\.txt

split-datafile
